.chart-card6.card {
  border: none;
  min-height: 50px;
  position: relative;
  margin-bottom: 24px;
  border-radius: 10px; // All corners rounded
  overflow: hidden; // This clips content to the border radius

  .card-icon {
    width: 50px;
    height: 50px;
    margin: 20px;
    box-shadow: 5px 3px 10px 0 rgba(21, 15, 15, 0.3);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    .material-icons {
      font-size: 32px;
      color: #fff;
      line-height: 50px;
    }
  }

  .card-right {
    float: right;
    margin: 15px 15px 15px 0px;
  }

  .apexcharts-canvas,
  .apexcharts-svg,
  apx-chart {
    background: transparent !important;
    border-radius: 0 0 10px 10px; // Bottom corners rounded to match card
  }

  /* Remove any border/break below chart completely */
  apx-chart {
    display: block;
    margin-right: -1px;
    margin-bottom: -2px;
    margin-left: -1px; // Add negative left margin to extend chart to edges
  }

  /* Responsive tweaks if needed */
  @media (max-width: 768px) {
    .chart-card6.card {
      margin-bottom: 16px;
      padding: 8px;
    }
  }
}
