.age-badge {
  font-size: 12px;
  color: #666;
  margin-left: 4px;
}

.table-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.tbl-icon {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.no-results {
  text-align: center;
  padding: 30px;
  color: #666;
  font-size: 14px;
}

.tbl-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
