<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'PATIENTS.ALL_PATIENTS' | translate" [items]="[]" [active_item]="'PATIENTS.ALL_PATIENTS' | translate"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>{{ 'PATIENTS.ALL_PATIENTS' | translate }}</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input id="search-input" [placeholder]="'PATIENTS.SEARCH_PLACEHOLDER' | translate" type="text" #filter
                    (keyup)="applyFilter($event)" [formControl]="searchControl"
                    class="browser-default search-field" aria-label="Search box">
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <div class="col-white">
                    <button mat-flat-button color="primary" (click)="addNew()">
                      <mat-icon class="material-icons-outlined">add</mat-icon>
                      {{ 'PATIENTS.ADD_PATIENT' | translate }}
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10">
                    <button mat-icon-button (click)="refresh()" class="col-blue" [matTooltip]="'COMMON.ACTIONS.REFRESH' | translate">
                      <mat-icon class="material-icons-outlined">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10">
                    <button mat-icon-button (click)="exportExcel()" class="col-blue" [matTooltip]="'COMMON.ACTIONS.EXPORT' | translate">
                      <mat-icon class="material-icons-outlined">file_download</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="overflow-auto">
            <div class="responsive_table">
              <div class="table-scroll">
                <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">

                  @for (column of columnDefinitions; track column) {
                  @if (column.type === 'actionBtn') {
                  <!-- Skip - handled separately -->
                  } @else {
                  @if (column.type === 'name') {
                  <!-- Name Column with Avatar -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [matTooltip]="getFullName(row)">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      <img [src]="'assets/images/user/user' + ((row._id?.charCodeAt(0) || 1) % 9 + 1) + '.jpg'"
                           class="table-img" alt="avatar" />
                      <span class="truncate-text">{{ getFullName(row) }}</span>
                    </mat-cell>
                  </ng-container>
                  } @else if (column.type === 'date') {
                  <!-- Date Column -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      <span class="truncate-text">
                        @if (row[column.def]) {
                          {{ row[column.def] | date: 'dd/MM/yyyy' }}
                          @if (calculateAge(row[column.def]) !== null) {
                            <span class="age-badge">({{ calculateAge(row[column.def]) }} {{ 'PATIENTS.TABLE.YEARS' | translate }})</span>
                          }
                        } @else {
                          -
                        }
                      </span>
                    </mat-cell>
                  </ng-container>
                  } @else if (column.type === 'phone') {
                  <!-- Phone Column -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [matTooltip]="row[column.def]">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      @if (row[column.def]) {
                        <mat-icon class="tbl-icon material-icons-outlined col-green">call</mat-icon>
                        <span class="truncate-text">{{ row[column.def] }}</span>
                      } @else {
                        <span class="truncate-text">-</span>
                      }
                    </mat-cell>
                  </ng-container>
                  } @else if (column.type === 'email') {
                  <!-- Email Column -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [matTooltip]="row[column.def]">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      @if (row[column.def]) {
                        <mat-icon class="tbl-icon material-icons-outlined col-red">mail</mat-icon>
                        <span class="truncate-text">{{ row[column.def] }}</span>
                      } @else {
                        <span class="truncate-text">-</span>
                      }
                    </mat-cell>
                  </ng-container>
                  } @else if (column.type === 'gender') {
                  <!-- Gender Column -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      @switch (row.gender) {
                        @case ('male') {
                          <span class="badge badge-solid-green">{{ 'PATIENTS.FORM.MALE' | translate }}</span>
                        }
                        @case ('female') {
                          <span class="badge badge-solid-purple">{{ 'PATIENTS.FORM.FEMALE' | translate }}</span>
                        }
                        @case ('other') {
                          <span class="badge badge-solid-blue">{{ 'PATIENTS.FORM.OTHER' | translate }}</span>
                        }
                        @default {
                          <span class="truncate-text">-</span>
                        }
                      }
                    </mat-cell>
                  </ng-container>
                  } @else {
                  <!-- Default Text Column -->
                  <ng-container [matColumnDef]="column.def">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span class="truncate-text">{{ column.label | translate }}</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <span class="mobile-label">{{ column.label | translate }}:</span>
                      <span class="truncate-text">{{ row[column.def] || '-' }}</span>
                    </mat-cell>
                  </ng-container>
                  }
                  }
                  }

                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>
                      {{ 'PATIENTS.TABLE.ACTIONS' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="psl-3 tbl-col-width-per-10">
                      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="viewDetails(row)">
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>{{ 'COMMON.ACTIONS.VIEW' | translate }}</span>
                        </button>
                        <button mat-menu-item (click)="editPatient(row)">
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>{{ 'COMMON.ACTIONS.EDIT' | translate }}</span>
                        </button>
                        <button mat-menu-item (click)="deletePatient(row)">
                          <mat-icon class="material-icons-outlined col-red">delete</mat-icon>
                          <span class="col-red">{{ 'COMMON.ACTIONS.DELETE' | translate }}</span>
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: getDisplayedColumns();"
                           (click)="viewDetails(row)" [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </table>
              </div>

              <!-- Loading skeleton -->
              @if (isLoading) {
              <app-table-skeleton [rows]="5" [showAvatar]="true"></app-table-skeleton>
              }

              <!-- No results message -->
              @if (!isLoading && dataSource.data.length === 0) {
              <div class="no-results">
                {{ 'PATIENTS.NO_PATIENTS' | translate }}
              </div>
              }

              <mat-paginator #paginator
                [length]="totalRecords"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50]"
                (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
