<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'SETTINGS.TITLE' | translate" [items]="[]" [active_item]="'SETTINGS.TITLE' | translate"></app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>{{ 'SETTINGS.SECURITY.TITLE' | translate }}</h2>
      </div>
      <div class="body">
        <form [formGroup]="securityForm" (ngSubmit)="saveSecuritySettings()">
          <div class="example-container">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>{{ 'SETTINGS.SECURITY.USERNAME' | translate }}</mat-label>
              <input matInput formControlName="username" readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>{{ 'SETTINGS.SECURITY.CURRENT_PASSWORD' | translate }}</mat-label>
              <input matInput type="password" formControlName="currentPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>{{ 'SETTINGS.SECURITY.NEW_PASSWORD' | translate }}</mat-label>
              <input matInput type="password" formControlName="newPassword">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="isSavingSecurity">
            @if (isSavingSecurity) {
              <mat-spinner diameter="20"></mat-spinner>
            }
            {{ 'COMMON.ACTIONS.SAVE' | translate }}
          </button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>{{ 'SETTINGS.ACCOUNT.TITLE' | translate }}</h2>
      </div>
      <div class="body">
        <form [formGroup]="accountForm" (ngSubmit)="saveAccountSettings()">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.FIRST_NAME' | translate }}</mat-label>
                  <input matInput formControlName="firstName">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.LAST_NAME' | translate }}</mat-label>
                  <input matInput formControlName="lastName">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.CITY' | translate }}</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.EMAIL' | translate }}</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.COUNTRY' | translate }}</mat-label>
                  <input matInput formControlName="country">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.DATE_OF_BIRTH' | translate }}</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.MOBILE' | translate }}</mat-label>
                  <input matInput formControlName="mobile">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.BLOOD_GROUP' | translate }}</mat-label>
                  <mat-select formControlName="bloodGroup">
                    <mat-option [value]="'A-'">A-</mat-option>
                    <mat-option [value]="'A+'">A+</mat-option>
                    <mat-option [value]="'B-'">B-</mat-option>
                    <mat-option [value]="'B+'">B+</mat-option>
                    <mat-option [value]="'AB-'">AB-</mat-option>
                    <mat-option [value]="'AB+'">AB+</mat-option>
                    <mat-option [value]="'O-'">O-</mat-option>
                    <mat-option [value]="'O+'">O+</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>{{ 'SETTINGS.ACCOUNT.ADDRESS' | translate }}</mat-label>
                  <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <button mat-raised-button color="primary" type="submit" [disabled]="isSavingAccount">
                @if (isSavingAccount) {
                  <mat-spinner diameter="20"></mat-spinner>
                }
                {{ 'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
