@use '../../theme/design-tokens' as tokens;

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: tokens.$font-size-xl;
  line-height: 26px;
}

#container p {
  font-size: tokens.$font-size-base;
  line-height: 22px;

  color: var(--text-secondary);

  margin: 0;
}

#container a {
  text-decoration: none;
}
