/*
 *  Document   : _dropdownmenu.scss
 *  Author     : RedStar Template
 *  Description: This scss file for dropdown menu style classes
 */
@use "../common/mixins" as mix;
.dropdown-menu {
  @include mix.border-radius(0);
  margin-top: -35px !important;
  margin-left: -15px;
  -webkit-box-shadow: 0 5px 15px 2px rgba(64, 70, 74, 0.2) !important;
  box-shadow: 0 5px 15px 2px rgba(64, 70, 74, 0.2) !important;
  border-radius: 0px;
  border: none;
  padding: 0px;

  .divider {
    margin: 5px 0;
  }

  .header {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 4px 0 6px 0;
  }

  .footer {
    a {
      text-align: center;
      border-top: 1px solid #eee;
      padding: 10px 0 5px 0;
      font-size: 13px;
      margin-bottom: -5px;
      color: #ff5e00;
      font-weight: 500;

      &:hover {
        background-color: transparent;
      }
    }
  }

  > li {
    > a {
      padding: 7px 18px;
      color: #666;
      @include mix.transition(all 0.5s);
      font-size: 14px;
      line-height: 25px;
      display: block;

      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }

      i.material-icons {
        float: left;
        margin-right: 7px;
        margin-top: 2px;
        font-size: 20px;
      }
    }
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 13px;
  color: #636262;
}

.dropdown-animated {
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}

.dropdown-menu.pull-right.show {
  position: absolute !important;
  left: auto !important;
  right: 0 !important;
  top: 50px !important;
  transform: none !important;
}

.profile-menu {
  width: 200px;
  max-width: 200px !important;
  right: 10px;

  .user-menu-icons .feather {
    height: 18px !important;
    width: 18px !important;
    vertical-align: middle;
  }
  .mat-mdc-menu-content {
    padding: 0px;
  }
}
.lang-item-menu .mat-mdc-menu-content {
  padding: 0px;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: #6777ef;
  h6 {
    color: #fff;
  }
}

.notification-menu {
  width: 350px;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transform-origin: left top;
  width: 325px;
  max-width: 100vw !important;
  right: 10px;
  left: auto;
  position: absolute !important;
  top: 0;
  padding: 0;
  border-radius: 5px;

  .mat-mdc-menu-content {
    padding: 0;
  }

  .notification-mark-as-read {
    cursor: pointer;
    color: #ffffff;
    font-size: 12px !important;

    &:hover {
      text-decoration: underline;
    }
  }

  .notification-dropdown {
    max-height: 350px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
  }

  .noti-list {
    .menu {
      .mat-mdc-menu-item {
        display: flex;
        align-items: flex-start;
        padding: 10px 15px;
        position: relative;
        transition: all 0.3s ease;
        border-left: 3px solid transparent;
        margin-bottom: 3px;

        &.msg-unread {
          background-color: rgba(13, 110, 253, 0.05);
          font-weight: 500;
        }

        &.msg-read {
          background-color: transparent;
          color: #666;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }

        .table-img {
          margin-right: 12px;

          .user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 2px solid #fff;
          }

          .notification-type-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &.notification-green {
              color: #4caf50;
            }

            &.notification-blue {
              color: #2196f3;
            }

            &.notification-orange {
              color: #ff9800;
            }

            &.notification-red {
              color: #f44336;
            }

            &.notification-purple {
              color: #9c27b0;
            }
          }
        }

        .menu-info {
          flex: 1;

          .menu-title {
            display: block;
            font-size: 14px;
            margin-bottom: 0px;
            line-height: 1.4;
          }

          .menu-desc {
            display: flex;
            align-items: center;
            font-size: 11px;
            color: #888;

            i {
              font-size: 12px;
              margin-right: 5px;
            }
          }

          .notification-action-btn {
            font-size: 11px !important;
            padding: 0 6px;
            min-width: 50px;
            height: 20px !important;
            border-radius: 12px;
            transition: all 0.2s ease;

            &:hover {
              background-color: #007bff;
              color: white;
            }
          }
        }

        .notification-close {
          position: absolute;
          top: 12px;
          right: 15px;
          opacity: 0;
          transition: opacity 0.2s ease;
          cursor: pointer;

          .user-menu-icons {
            color: #999;
            width: 16px;
            height: 16px;

            &:hover {
              color: #f44336;
            }
          }
        }

        &:hover .notification-close {
          opacity: 1;
        }
      }
    }
  }

  .notification-footer {
    padding: 15px 15px;
    text-align: center;
  }

  .notification-read-all {
    cursor: pointer;
    color: #007bff;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Animation for notification state changes */
  .mat-mdc-menu-item {
    transition: all 0.3s ease;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(30px);
    }
  }

  .notification-removing {
    animation: fadeOut 0.5s ease forwards;
  }
}
.dark {
  .notification-dropdown {
    background: #16181d;
  }
  .notification-menu .noti-list .menu .mat-mdc-menu-item.msg-unread {
    background-color: #000000 !important;
  }
}
