<div class="patient-form-dialog">
  <h2 mat-dialog-title>{{ dialogTitle | translate }}</h2>

  <mat-dialog-content>
    <form [formGroup]="patientForm">
      <mat-tab-group>
        <!-- Personal Information Tab -->
        <mat-tab [label]="'PATIENTS.FORM.PERSONAL_INFO' | translate">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.FIRST_NAME' | translate }}</mat-label>
                  <input matInput formControlName="firstName" required />
                  @if (patientForm.get('firstName')?.hasError('required')) {
                    <mat-error>{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.LAST_NAME' | translate }}</mat-label>
                  <input matInput formControlName="lastName" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.DATE_OF_BIRTH' | translate }}</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.GENDER' | translate }}</mat-label>
                  <mat-select formControlName="gender">
                    @for (option of genderOptions; track option.value) {
                      <mat-option [value]="option.value">{{ option.label | translate }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.DOCUMENT_TYPE' | translate }}</mat-label>
                  <mat-select formControlName="documentType">
                    @for (type of documentTypeOptions; track type) {
                      <mat-option [value]="type">{{ type }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.DOCUMENT_NUMBER' | translate }}</mat-label>
                  <input matInput formControlName="documentNumber" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.TABLE.BLOOD_TYPE' | translate }}</mat-label>
                  <mat-select formControlName="bloodType">
                    @for (type of bloodTypeOptions; track type) {
                      <mat-option [value]="type">{{ type }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.OCCUPATION' | translate }}</mat-label>
                  <input matInput formControlName="occupation" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Contact Information Tab -->
        <mat-tab [label]="'PATIENTS.FORM.CONTACT_INFO' | translate">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.EMAIL' | translate }}</mat-label>
                  <input matInput formControlName="email" type="email" />
                  @if (patientForm.get('email')?.hasError('email')) {
                    <mat-error>{{ 'VALIDATION.EMAIL' | translate }}</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.PHONE' | translate }}</mat-label>
                  <input matInput formControlName="phone" />
                </mat-form-field>
              </div>
            </div>

            <div formGroupName="address">
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <mat-label>{{ 'PATIENTS.FORM.ADDRESS' | translate }}</mat-label>
                    <input matInput formControlName="street" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>{{ 'PATIENTS.FORM.CITY' | translate }}</mat-label>
                    <input matInput formControlName="city" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>{{ 'PATIENTS.FORM.STATE' | translate }}</mat-label>
                    <input matInput formControlName="state" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>{{ 'PATIENTS.FORM.COUNTRY' | translate }}</mat-label>
                    <input matInput formControlName="country" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>{{ 'PATIENTS.FORM.POSTAL_CODE' | translate }}</mat-label>
                    <input matInput formControlName="postalCode" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Emergency Contact Tab -->
        <mat-tab [label]="'PATIENTS.FORM.EMERGENCY_CONTACT' | translate">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.EMERGENCY_NAME' | translate }}</mat-label>
                  <input matInput formControlName="emergencyContactName" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.EMERGENCY_PHONE' | translate }}</mat-label>
                  <input matInput formControlName="emergencyContactPhone" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.EMERGENCY_RELATIONSHIP' | translate }}</mat-label>
                  <input matInput formControlName="emergencyContactRelation" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Medical Information Tab -->
        <mat-tab [label]="'PATIENTS.FORM.MEDICAL_INFO' | translate">
          <div class="tab-content">
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.ALLERGIES' | translate }}</mat-label>
                  <input matInput formControlName="allergies" />
                  <mat-hint>{{ 'PATIENTS.FORM.COMMA_SEPARATED' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.CHRONIC_CONDITIONS' | translate }}</mat-label>
                  <input matInput formControlName="chronicConditions" />
                  <mat-hint>{{ 'PATIENTS.FORM.COMMA_SEPARATED' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.CURRENT_MEDICATIONS' | translate }}</mat-label>
                  <input matInput formControlName="currentMedications" />
                  <mat-hint>{{ 'PATIENTS.FORM.COMMA_SEPARATED' | translate }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.INSURANCE_PROVIDER' | translate }}</mat-label>
                  <input matInput formControlName="insuranceProvider" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.INSURANCE_NUMBER' | translate }}</mat-label>
                  <input matInput formControlName="insuranceNumber" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ 'PATIENTS.FORM.MEDICAL_NOTES' | translate }}</mat-label>
                  <textarea matInput formControlName="notes" rows="3"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">{{ 'COMMON.ACTIONS.CANCEL' | translate }}</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="patientForm.invalid || isSubmitting"
    >
      {{ 'COMMON.ACTIONS.SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</div>
